#ausgeschlosene Dateien

#ausgeschlosene Verzeichnisse (mit / beenden)

#Dateien, die durch ein Muster (*, &) identifiziert werden
*.class
*.tar.bz2
#Dateien, die entgegen dem Muster eingeschlossen werden (durch ! gekennzeichnet)
